[submodule "CertificateKit/build/openssl-ios"]
	path = CertificateKit/build/openssl-ios
	url = https://github.com/tls-inspector/openssl-ios.git
[submodule "CertificateKit/build/curl-ios"]
	path = CertificateKit/build/curl-ios
	url = https://github.com/tls-inspector/curl-ios
[submodule "CertificateKit/build/idna-cocoa"]
	path = CertificateKit/build/idna-cocoa
	url = https://github.com/Wevah/IDNA-Cocoa.git
