[submodule "CertificateKit/build/openssl-ios"]
	path = CertificateKit/build/openssl-ios
	url = https://github.com/certificate-helper/openssl-ios.git
[submodule "CertificateKit/build/libcurl-ios"]
	path = CertificateKit/build/libcurl-ios
	url = https://github.com/certificate-helper/libcurl-ios.git
