<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1 month</key>
	<string>1 month</string>
	<key>2 weeks</key>
	<string>2 weeks</string>
	<key>3 months</key>
	<string>3 months</string>
	<key>6 months</key>
	<string>6 months</string>
	<key>About</key>
	<string>About</string>
	<key>About TLS Inspector</key>
	<string>About TLS Inspector</string>
	<key>Add Certificate Expiry Reminder</key>
	<string>Add Certificate Expiry Reminder</string>
	<key>Advanced Inspect</key>
	<string>Advanced Inspect</string>
	<key>Advanced Options</key>
	<string>Advanced Options</string>
	<key>Algorithm</key>
	<string>Algorithm</string>
	<key>Algorithms</key>
	<string>Algorithms</string>
	<key>Alternate Names</key>
	<string>Alternate Names</string>
	<key>Apple Support</key>
	<string>Apple Support</string>
	<key>Authority</key>
	<string>Authority</string>
	<key>Auto</key>
	<string>Auto</string>
	<key>Automatic</key>
	<string>Automatic</string>
	<key>Automatic will choose IPv6 if available.</key>
	<string>Automatic will choose IPv6 if available.</string>
	<key>Basic</key>
	<string>Basic</string>
	<key>Build</key>
	<string>Build</string>
	<key>Cancel</key>
	<string>Cancel</string>
	<key>Certificate Authority</key>
	<string>Certificate Authority</string>
	<key>Certificate Chain</key>
	<string>Certificate Chain</string>
	<key>Certificate Errors</key>
	<string>Certificate Errors</string>
	<key>Certificate Information</key>
	<string>Certificate Information</string>
	<key>Certificate Status</key>
	<string>Certificate Status</string>
	<key>Certificate is expired or not valid yet.</key>
	<string>Certificate is expired or not valid yet.</string>
	<key>Certificate uses insecure SHA1 algorithm.</key>
	<string>Certificate uses insecure SHA1 algorithm.</string>
	<key>Certificates</key>
	<string>Certificates</string>
	<key>Chain</key>
	<string>Chain</string>
	<key>Ciphers</key>
	<string>Ciphers</string>
	<key>Connection Information</key>
	<string>Connection Information</string>
	<key>Contact Support</key>
	<string>Contact Support</string>
	<key>Contact Us</key>
	<string>Contact Us</string>
	<key>Contacting support requires that at least one email account be configured on this device.</key>
	<string>Contacting support requires that at least one email account be configured on this device.</string>
	<key>Contribute to TLS Inspector</key>
	<string>Contribute to TLS Inspector</string>
	<key>Copy</key>
	<string>Copy</string>
	<key>Could not get certificates</key>
	<string>Could not get certificates</string>
	<key>Country::AD</key>
	<string>Andorra, Principality of</string>
	<key>Country::AE</key>
	<string>United Arab Emirates</string>
	<key>Country::AF</key>
	<string>Afghanistan</string>
	<key>Country::AG</key>
	<string>Antigua and Barbuda</string>
	<key>Country::AI</key>
	<string>Anguilla</string>
	<key>Country::AL</key>
	<string>Albania, People&apos;s Socialist Republic of</string>
	<key>Country::AM</key>
	<string>Armenia</string>
	<key>Country::AN</key>
	<string>Netherlands Antilles</string>
	<key>Country::AO</key>
	<string>Angola, Republic of</string>
	<key>Country::AQ</key>
	<string>Antarctica (the territory South of 60 deg S)</string>
	<key>Country::AR</key>
	<string>Argentina, Argentine Republic</string>
	<key>Country::AS</key>
	<string>American Samoa</string>
	<key>Country::AT</key>
	<string>Austria, Republic of</string>
	<key>Country::AU</key>
	<string>Australia, Commonwealth of</string>
	<key>Country::AW</key>
	<string>Aruba</string>
	<key>Country::AZ</key>
	<string>Azerbaijan, Republic of</string>
	<key>Country::BA</key>
	<string>Bosnia and Herzegovina</string>
	<key>Country::BB</key>
	<string>Barbados</string>
	<key>Country::BD</key>
	<string>Bangladesh, People&apos;s Republic of</string>
	<key>Country::BE</key>
	<string>Belgium, Kingdom of</string>
	<key>Country::BF</key>
	<string>Burkina Faso</string>
	<key>Country::BG</key>
	<string>Bulgaria, People&apos;s Republic of</string>
	<key>Country::BH</key>
	<string>Bahrain, Kingdom of</string>
	<key>Country::BI</key>
	<string>Burundi, Republic of</string>
	<key>Country::BJ</key>
	<string>Benin, People&apos;s Republic of</string>
	<key>Country::BM</key>
	<string>Bermuda</string>
	<key>Country::BN</key>
	<string>Brunei Darussalam</string>
	<key>Country::BO</key>
	<string>Bolivia, Republic of</string>
	<key>Country::BR</key>
	<string>Brazil, Federative Republic of</string>
	<key>Country::BS</key>
	<string>Bahamas, Commonwealth of the</string>
	<key>Country::BT</key>
	<string>Bhutan, Kingdom of</string>
	<key>Country::BV</key>
	<string>Bouvet Island (Bouvetoya)</string>
	<key>Country::BW</key>
	<string>Botswana, Republic of</string>
	<key>Country::BY</key>
	<string>Belarus</string>
	<key>Country::BZ</key>
	<string>Belize</string>
	<key>Country::CA</key>
	<string>Canada</string>
	<key>Country::CC</key>
	<string>Cocos (Keeling) Islands</string>
	<key>Country::CD</key>
	<string>Congo, Democratic Republic of</string>
	<key>Country::CF</key>
	<string>Central African Republic</string>
	<key>Country::CG</key>
	<string>Congo, People&apos;s Republic of</string>
	<key>Country::CH</key>
	<string>Switzerland, Swiss Confederation</string>
	<key>Country::CI</key>
	<string>Cote D&apos;Ivoire, Ivory Coast, Republic of the</string>
	<key>Country::CK</key>
	<string>Cook Islands</string>
	<key>Country::CL</key>
	<string>Chile, Republic of</string>
	<key>Country::CM</key>
	<string>Cameroon, United Republic of</string>
	<key>Country::CN</key>
	<string>China, People&apos;s Republic of</string>
	<key>Country::CO</key>
	<string>Colombia, Republic of</string>
	<key>Country::CR</key>
	<string>Costa Rica, Republic of</string>
	<key>Country::CU</key>
	<string>Cuba, Republic of</string>
	<key>Country::CV</key>
	<string>Cape Verde, Republic of</string>
	<key>Country::CX</key>
	<string>Christmas Island</string>
	<key>Country::CY</key>
	<string>Cyprus, Republic of</string>
	<key>Country::CZ</key>
	<string>Czech Republic</string>
	<key>Country::DE</key>
	<string>Germany</string>
	<key>Country::DJ</key>
	<string>Djibouti, Republic of</string>
	<key>Country::DK</key>
	<string>Denmark, Kingdom of</string>
	<key>Country::DM</key>
	<string>Dominica, Commonwealth of</string>
	<key>Country::DO</key>
	<string>Dominican Republic</string>
	<key>Country::DZ</key>
	<string>Algeria, People&apos;s Democratic Republic of</string>
	<key>Country::EC</key>
	<string>Ecuador, Republic of</string>
	<key>Country::EE</key>
	<string>Estonia</string>
	<key>Country::EG</key>
	<string>Egypt, Arab Republic of</string>
	<key>Country::EH</key>
	<string>Western Sahara</string>
	<key>Country::ER</key>
	<string>Eritrea</string>
	<key>Country::ES</key>
	<string>Spain, Spanish State</string>
	<key>Country::ET</key>
	<string>Ethiopia</string>
	<key>Country::FI</key>
	<string>Finland, Republic of</string>
	<key>Country::FJ</key>
	<string>Fiji, Republic of the Fiji Islands</string>
	<key>Country::FK</key>
	<string>Falkland Islands (Malvinas)</string>
	<key>Country::FM</key>
	<string>Micronesia, Federated States of</string>
	<key>Country::FO</key>
	<string>Faeroe Islands</string>
	<key>Country::FR</key>
	<string>France, French Republic</string>
	<key>Country::GA</key>
	<string>Gabon, Gabonese Republic</string>
	<key>Country::GB</key>
	<string>United Kingdom of Great Britain &amp; N. Ireland</string>
	<key>Country::GD</key>
	<string>Grenada</string>
	<key>Country::GE</key>
	<string>Georgia</string>
	<key>Country::GF</key>
	<string>French Guiana</string>
	<key>Country::GH</key>
	<string>Ghana, Republic of</string>
	<key>Country::GI</key>
	<string>Gibraltar</string>
	<key>Country::GL</key>
	<string>Greenland</string>
	<key>Country::GM</key>
	<string>Gambia, Republic of the</string>
	<key>Country::GN</key>
	<string>Guinea, Revolutionary People&apos;s Rep&apos;c of</string>
	<key>Country::GP</key>
	<string>Guadaloupe</string>
	<key>Country::GQ</key>
	<string>Equatorial Guinea, Republic of</string>
	<key>Country::GR</key>
	<string>Greece, Hellenic Republic</string>
	<key>Country::GS</key>
	<string>South Georgia and the South Sandwich Islands</string>
	<key>Country::GT</key>
	<string>Guatemala, Republic of</string>
	<key>Country::GU</key>
	<string>Guam</string>
	<key>Country::GW</key>
	<string>Guinea-Bissau, Republic of</string>
	<key>Country::GY</key>
	<string>Guyana, Republic of</string>
	<key>Country::HK</key>
	<string>Hong Kong, Special Administrative Region of China</string>
	<key>Country::HM</key>
	<string>Heard and McDonald Islands</string>
	<key>Country::HN</key>
	<string>Honduras, Republic of</string>
	<key>Country::HR</key>
	<string>Hrvatska (Croatia)</string>
	<key>Country::HT</key>
	<string>Haiti, Republic of</string>
	<key>Country::HU</key>
	<string>Hungary, Hungarian People&apos;s Republic</string>
	<key>Country::ID</key>
	<string>Indonesia, Republic of</string>
	<key>Country::IE</key>
	<string>Ireland</string>
	<key>Country::IL</key>
	<string>Israel, State of</string>
	<key>Country::IN</key>
	<string>India, Republic of</string>
	<key>Country::IO</key>
	<string>British Indian Ocean Territory (Chagos Archipelago)</string>
	<key>Country::IQ</key>
	<string>Iraq, Republic of</string>
	<key>Country::IR</key>
	<string>Iran, Islamic Republic of</string>
	<key>Country::IS</key>
	<string>Iceland, Republic of</string>
	<key>Country::IT</key>
	<string>Italy, Italian Republic</string>
	<key>Country::JM</key>
	<string>Jamaica</string>
	<key>Country::JO</key>
	<string>Jordan, Hashemite Kingdom of</string>
	<key>Country::JP</key>
	<string>Japan</string>
	<key>Country::KE</key>
	<string>Kenya, Republic of</string>
	<key>Country::KG</key>
	<string>Kyrgyz Republic</string>
	<key>Country::KH</key>
	<string>Cambodia, Kingdom of</string>
	<key>Country::KI</key>
	<string>Kiribati, Republic of</string>
	<key>Country::KM</key>
	<string>Comoros, Union of the</string>
	<key>Country::KN</key>
	<string>St. Kitts and Nevis</string>
	<key>Country::KP</key>
	<string>Korea, Democratic People&apos;s Republic of</string>
	<key>Country::KR</key>
	<string>Korea, Republic of</string>
	<key>Country::KW</key>
	<string>Kuwait, State of</string>
	<key>Country::KY</key>
	<string>Cayman Islands</string>
	<key>Country::KZ</key>
	<string>Kazakhstan, Republic of</string>
	<key>Country::LA</key>
	<string>Lao, People&apos;s Democratic Republic</string>
	<key>Country::LB</key>
	<string>Lebanon, Lebanese Republic</string>
	<key>Country::LC</key>
	<string>St. Lucia</string>
	<key>Country::LI</key>
	<string>Liechtenstein, Principality of</string>
	<key>Country::LK</key>
	<string>Sri Lanka, Democratic Socialist Republic of</string>
	<key>Country::LR</key>
	<string>Liberia, Republic of</string>
	<key>Country::LS</key>
	<string>Lesotho, Kingdom of</string>
	<key>Country::LT</key>
	<string>Lithuania</string>
	<key>Country::LU</key>
	<string>Luxembourg, Grand Duchy of</string>
	<key>Country::LV</key>
	<string>Latvia</string>
	<key>Country::LY</key>
	<string>Libya, State of</string>
	<key>Country::MA</key>
	<string>Morocco, Kingdom of</string>
	<key>Country::MC</key>
	<string>Monaco, Principality of</string>
	<key>Country::MD</key>
	<string>Moldova, Republic of</string>
	<key>Country::ME</key>
	<string>Montenegro</string>
	<key>Country::MG</key>
	<string>Madagascar, Republic of</string>
	<key>Country::MH</key>
	<string>Marshall Islands</string>
	<key>Country::MK</key>
	<string>North Macedonia, Republic of</string>
	<key>Country::ML</key>
	<string>Mali, Republic of</string>
	<key>Country::MM</key>
	<string>Myanmar</string>
	<key>Country::MN</key>
	<string>Mongolia, State of</string>
	<key>Country::MO</key>
	<string>Macao, Special Administrative Region of China</string>
	<key>Country::MP</key>
	<string>Northern Mariana Islands</string>
	<key>Country::MQ</key>
	<string>Martinique</string>
	<key>Country::MR</key>
	<string>Mauritania, Islamic Republic of</string>
	<key>Country::MS</key>
	<string>Montserrat</string>
	<key>Country::MT</key>
	<string>Malta, Republic of</string>
	<key>Country::MU</key>
	<string>Mauritius</string>
	<key>Country::MV</key>
	<string>Maldives, Republic of</string>
	<key>Country::MW</key>
	<string>Malawi, Republic of</string>
	<key>Country::MX</key>
	<string>Mexico, United Mexican States</string>
	<key>Country::MY</key>
	<string>Malaysia</string>
	<key>Country::MZ</key>
	<string>Mozambique, People&apos;s Republic of</string>
	<key>Country::NA</key>
	<string>Namibia</string>
	<key>Country::NC</key>
	<string>New Caledonia</string>
	<key>Country::NE</key>
	<string>Niger, Republic of the</string>
	<key>Country::NF</key>
	<string>Norfolk Island</string>
	<key>Country::NG</key>
	<string>Nigeria, Federal Republic of</string>
	<key>Country::NI</key>
	<string>Nicaragua, Republic of</string>
	<key>Country::NL</key>
	<string>Netherlands, Kingdom of the</string>
	<key>Country::NO</key>
	<string>Norway, Kingdom of</string>
	<key>Country::NP</key>
	<string>Nepal, Kingdom of</string>
	<key>Country::NR</key>
	<string>Nauru, Republic of</string>
	<key>Country::NU</key>
	<string>Niue, Republic of</string>
	<key>Country::NZ</key>
	<string>New Zealand</string>
	<key>Country::OM</key>
	<string>Oman, Sultanate of</string>
	<key>Country::PA</key>
	<string>Panama, Republic of</string>
	<key>Country::PE</key>
	<string>Peru, Republic of</string>
	<key>Country::PF</key>
	<string>French Polynesia</string>
	<key>Country::PG</key>
	<string>Papua New Guinea</string>
	<key>Country::PH</key>
	<string>Philippines, Republic of the</string>
	<key>Country::PK</key>
	<string>Pakistan, Islamic Republic of</string>
	<key>Country::PL</key>
	<string>Poland, Polish People&apos;s Republic</string>
	<key>Country::PM</key>
	<string>St. Pierre and Miquelon</string>
	<key>Country::PN</key>
	<string>Pitcairn Island</string>
	<key>Country::PR</key>
	<string>Puerto Rico</string>
	<key>Country::PS</key>
	<string>Palestinian Territory, Occupied</string>
	<key>Country::PT</key>
	<string>Portugal, Portuguese Republic</string>
	<key>Country::PW</key>
	<string>Palau</string>
	<key>Country::PY</key>
	<string>Paraguay, Republic of</string>
	<key>Country::QA</key>
	<string>Qatar, State of</string>
	<key>Country::RE</key>
	<string>Réunion</string>
	<key>Country::RO</key>
	<string>Romania, Socialist Republic of</string>
	<key>Country::RS</key>
	<string>Serbia, Republic of</string>
	<key>Country::RU</key>
	<string>Russian Federation</string>
	<key>Country::RW</key>
	<string>Rwanda, Rwandese Republic</string>
	<key>Country::SA</key>
	<string>Saudi Arabia, Kingdom of</string>
	<key>Country::SB</key>
	<string>Solomon Islands</string>
	<key>Country::SC</key>
	<string>Seychelles, Republic of</string>
	<key>Country::SD</key>
	<string>Sudan, Democratic Republic of the</string>
	<key>Country::SE</key>
	<string>Sweden, Kingdom of</string>
	<key>Country::SG</key>
	<string>Singapore, Republic of</string>
	<key>Country::SH</key>
	<string>St. Helena</string>
	<key>Country::SI</key>
	<string>Slovenia</string>
	<key>Country::SJ</key>
	<string>Svalbard &amp; Jan Mayen Islands</string>
	<key>Country::SK</key>
	<string>Slovakia (Slovak Republic)</string>
	<key>Country::SL</key>
	<string>Sierra Leone, Republic of</string>
	<key>Country::SM</key>
	<string>San Marino, Republic of</string>
	<key>Country::SN</key>
	<string>Senegal, Republic of</string>
	<key>Country::SO</key>
	<string>Somalia, Somali Republic</string>
	<key>Country::SR</key>
	<string>Suriname, Republic of</string>
	<key>Country::ST</key>
	<string>Sao Tome and Principe, Democratic Republic of</string>
	<key>Country::SV</key>
	<string>El Salvador, Republic of</string>
	<key>Country::SY</key>
	<string>Syrian Arab Republic</string>
	<key>Country::SZ</key>
	<string>Swaziland, Kingdom of</string>
	<key>Country::TC</key>
	<string>Turks and Caicos Islands</string>
	<key>Country::TD</key>
	<string>Chad, Republic of</string>
	<key>Country::TF</key>
	<string>French Southern and Antarctic Lands</string>
	<key>Country::TG</key>
	<string>Togo, Togolese Republic</string>
	<key>Country::TH</key>
	<string>Thailand, Kingdom of</string>
	<key>Country::TJ</key>
	<string>Tajikistan</string>
	<key>Country::TK</key>
	<string>Tokelau (Tokelau Islands)</string>
	<key>Country::TL</key>
	<string>Timor-Leste, Democratic Republic of</string>
	<key>Country::TM</key>
	<string>Turkmenistan</string>
	<key>Country::TN</key>
	<string>Tunisia, Republic of</string>
	<key>Country::TO</key>
	<string>Tonga, Kingdom of</string>
	<key>Country::TR</key>
	<string>Turkey, Republic of</string>
	<key>Country::TT</key>
	<string>Trinidad and Tobago, Republic of</string>
	<key>Country::TV</key>
	<string>Tuvalu</string>
	<key>Country::TW</key>
	<!-- Note: The developer of TLS Inspector supports Taiwan's independence and international recognition. This is an accepted deviation from ISO-3166. -->
	<string>Taiwan</string>
	<key>Country::TZ</key>
	<string>Tanzania, United Republic of</string>
	<key>Country::UA</key>
	<string>Ukraine</string>
	<key>Country::UG</key>
	<string>Uganda, Republic of</string>
	<key>Country::UM</key>
	<string>United States Minor Outlying Islands</string>
	<key>Country::US</key>
	<string>United States of America</string>
	<key>Country::UY</key>
	<string>Uruguay, Eastern Republic of</string>
	<key>Country::UZ</key>
	<string>Uzbekistan</string>
	<key>Country::VA</key>
	<string>Holy See (Vatican City State)</string>
	<key>Country::VC</key>
	<string>St. Vincent and the Grenadines</string>
	<key>Country::VE</key>
	<string>Venezuela, Bolivarian Republic of</string>
	<key>Country::VG</key>
	<string>British Virgin Islands</string>
	<key>Country::VI</key>
	<string>US Virgin Islands</string>
	<key>Country::VN</key>
	<string>Viet Nam, Socialist Republic of</string>
	<key>Country::VU</key>
	<string>Vanuatu</string>
	<key>Country::WF</key>
	<string>Wallis and Futuna Islands</string>
	<key>Country::WS</key>
	<string>Samoa, Independent State of</string>
	<key>Country::YE</key>
	<string>Yemen</string>
	<key>Country::YT</key>
	<string>Mayotte</string>
	<key>Country::ZA</key>
	<string>South Africa, Republic of</string>
	<key>Country::ZM</key>
	<string>Zambia, Republic of</string>
	<key>Country::ZW</key>
	<string>Zimbabwe</string>
	<key>Crypto Engine</key>
	<string>Crypto Engine</string>
	<key>Debug Logging Enabled</key>
	<string>Debug Logging Enabled</string>
	<key>Delete</key>
	<string>Delete</string>
	<key>Did You Know:</key>
	<string>Did You Know:</string>
	<key>Discard</key>
	<string>Discard</string>
	<key>Dismiss</key>
	<string>Dismiss</string>
	<key>Do not contact support for issues with your iOS Device or to report unsafe websites.</key>
	<string>Do not contact support for issues with your iOS Device or to report unsafe websites.</string>
	<key>Domain Name or IP Address</key>
	<string>Domain Name or IP Address</string>
	<key>Download &amp; Check CRL</key>
	<string>Download &amp; Check CRL</string>
	<key>EV Authority</key>
	<string>EV Authority</string>
	<key>Enable Debug Logging</key>
	<string>Enable Debug Logging</string>
	<key>Engine Settings</key>
	<string>Engine Settings</string>
	<key>Engine has no options</key>
	<string>Engine has no options</string>
	<key>Enter the fully qualified domain name or IP address of the host you wish to inspect.  You can specify a port number here as well.</key>
	<string>Enter the fully qualified domain name or IP address of the host you wish to inspect.  You can specify a port number here as well.</string>
	<key>Enter the value to verify</key>
	<string>Enter the value to verify</string>
	<key>Errors</key>
	<string>Errors</string>
	<key>Extended</key>
	<string>Extended</string>
	<key>Features</key>
	<string>Features</string>
	<key>Feedback</key>
	<string>Feedback</string>
	<key>Feedback Sent</key>
	<string>Feedback Sent</string>
	<key>Fingerprints</key>
	<string>Fingerprints</string>
	<key>Finished</key>
	<string>Finished</string>
	<key>Follow @tlsinspector on Twitter</key>
	<string>Follow @tlsinspector on Twitter</string>
	<key>General</key>
	<string>General</string>
	<key>Get Involved</key>
	<string>Get Involved</string>
	<key>HTTP Headers</key>
	<string>HTTP Headers</string>
	<key>Host IP Address</key>
	<string>Host IP Address</string>
	<key>Host was not found or invalid.</key>
	<string>Host was not found or invalid.</string>
	<key>How soon before the certificate expires should we notify you?</key>
	<string>How soon before the certificate expires should we notify you?</string>
	<key>IDN Not Supported</key>
	<string>IDN Not Supported</string>
	<key>If you believe this to be in error, contact support from within the TLS Inspector app.</key>
	<string>If you believe this to be in error, contact support from within the TLS Inspector app.</string>
	<key>Important</key>
	<string>Important</string>
	<key>Inspect</key>
	<string>Inspect</string>
	<key>Internal error.</key>
	<string>Internal error.</string>
	<key>Invalid Date</key>
	<string>Invalid Date</string>
	<key>Invalid host</key>
	<string>Invalid host</string>
	<key>Is the connection to this site secure?</key>
	<string>Is the connection to this site secure?</string>
	<key>Issuer</key>
	<string>Issuer</string>
	<key>Key</key>
	<string>Key</string>
	<key>Key Algorithm</key>
	<string>Key Algorithm</string>
	<key>Key Identifier</key>
	<string>Key Identifier</string>
	<key>Key Usage</key>
	<string>Key Usage</string>
	<key>KeyAlgorithm::dsaEncryption</key>
	<string>DSA</string>
	<key>KeyAlgorithm::id-ecPublicKey</key>
	<string>ECDSA</string>
	<key>KeyAlgorithm::rsaEncryption</key>
	<string>RSA</string>
	<key>Loading...</key>
	<string>Loading…</string>
	<key>Locally Trusted</key>
	<string>Locally Trusted</string>
	<key>Locally Trusted Chain</key>
	<string>Locally Trusted Chain</string>
	<key>Logging</key>
	<string>Logging</string>
	<key>MD5</key>
	<string>MD5</string>
	<key>Mail Account Required</key>
	<string>Mail Account Required</string>
	<key>Metadata</key>
	<string>Metadata</string>
	<key>More</key>
	<string>More</string>
	<key>More Info</key>
	<string>More Info</string>
	<key>Negotiated Ciphersuite</key>
	<string>Negotiated Ciphersuite</string>
	<key>Negotiated Version</key>
	<string>Negotiated Version</string>
	<key>Network</key>
	<string>Network</string>
	<key>Next</key>
	<string>Next</string>
	<key>No</key>
	<string>No</string>
	<key>No Supported URL Found</key>
	<string>No Supported URL Found</string>
	<key>Not After</key>
	<string>Not After</string>
	<key>Not Before</key>
	<string>Not Before</string>
	<key>Not Valid After</key>
	<string>Not Valid After</string>
	<key>Not Valid Before</key>
	<string>Not Valid Before</string>
	<key>Not Verified</key>
	<string>Not Verified</string>
	<key>Notice</key>
	<string>Notice</string>
	<key>Notification Date</key>
	<string>Notification Date</string>
	<key>Only HTTPS URLs can be inspected</key>
	<string>Only HTTPS URLs can be inspected</string>
	<key>OpenSSL</key>
	<string>OpenSSL</string>
	<key>OpenSSL Settings</key>
	<string>OpenSSL Settings</string>
	<key>OpenSSL Version</key>
	<string>OpenSSL Version</string>
	<key>Optional</key>
	<string>Optional</string>
	<key>Options</key>
	<string>Options</string>
	<key>Please describe the problem in at least 5 words.</key>
	<string>Please describe the problem in at least 5 words.</string>
	<key>Provide Feedback</key>
	<string>Provide Feedback</string>
	<key>Proxy Detected</key>
	<string>Proxy Detected</string>
	<key>Public Key</key>
	<string>Public Key</string>
	<key>Query OCSP Responder</key>
	<string>Query OCSP Responder</string>
	<key>Rate in App Store</key>
	<string>Rate in App Store</string>
	<key>Recent Lookups</key>
	<string>Recent Lookups</string>
	<key>Remember Recent Lookups</key>
	<string>Remember Recent Lookups</string>
	<key>Reminder Added</key>
	<string>Reminder Added</string>
	<key>Remote Address</key>
	<string>Remote Address</string>
	<key>Renew Certificate for {domain}</key>
	<string>Renew Certificate for {0}</string>
	<key>Report Issue on GitHub</key>
	<string>Report Issue on GitHub</string>
	<key>Report a Bug</key>
	<string>Report a Bug</string>
	<key>Request a Feature</key>
	<string>Request a Feature</string>
	<key>Revoked On</key>
	<string>Revoked On</string>
	<key>SHA-256</key>
	<string>SHA-256</string>
	<key>SHA-512</key>
	<string>SHA-512</string>
	<key>SHA1</key>
	<string>SHA1</string>
	<key>Search on Shodan</key>
	<string>Search on Shodan</string>
	<key>Search on crt.sh</key>
	<string>Search on crt.sh</string>
	<key>Security HTTP Headers</key>
	<string>Security HTTP Headers</string>
	<key>Select Feedback Type</key>
	<string>Select Feedback Type</string>
	<key>Send Anyways</key>
	<string>Send Anyways</string>
	<key>Server Info</key>
	<string>Server Info</string>
	<key>Server Redirected To</key>
	<string>Server Redirected To</string>
	<key>Share &amp; Feedback</key>
	<string>Share &amp; Feedback</string>
	<key>Share Certificate</key>
	<string>Share Certificate</string>
	<key>Share Certificate Chain</key>
	<string>Share Certificate Chain</string>
	<key>Share TLS Inspector</key>
	<string>Share TLS Inspector</string>
	<key>Show Certificate Fingerprint</key>
	<string>Show Certificate Fingerprint</string>
	<key>Show Certificate on crt.sh</key>
	<string>Show Certificate on crt.sh</string>
	<key>Show HTTP Headers</key>
	<string>Show HTTP Headers</string>
	<key>Show Tips</key>
	<string>Show Tips</string>
	<key>Signature</key>
	<string>Signature</string>
	<key>Signature Algorithm</key>
	<string>Signature Algorithm</string>
	<key>Size</key>
	<string>Size</string>
	<key>Something Else</key>
	<string>Something Else</string>
	<key>Specifying a host IP address will bypass name resolution.</key>
	<string>Specifying a host IP address will bypass name resolution.</string>
	<key>Status Providers</key>
	<string>Status Providers</string>
	<key>Subject</key>
	<string>Subject</string>
	<key>Subject Alternate Names</key>
	<string>Subject Alternate Names</string>
	<key>Subject Names</key>
	<string>Subject Names</string>
	<key>Subject::C</key>
	<string>Country</string>
	<key>Subject::CN</key>
	<string>Common Name</string>
	<key>Subject::E</key>
	<string>Email</string>
	<key>Subject::L</key>
	<string>City</string>
	<key>Subject::O</key>
	<string>Organization</string>
	<key>Subject::OU</key>
	<string>Organizational Unit</string>
	<key>Subject::S</key>
	<string>State</string>
	<key>Subject::ST</key>
	<string>State</string>
	<key>Submit Feedback</key>
	<string>Submit Feedback</string>
	<key>Submit Logs</key>
	<string>Submit Logs</string>
	<key>TLS Features</key>
	<string>TLS Features</string>
	<key>TLS Inspector</key>
	<string>TLS Inspector</string>
	<key>TLS Inspector Issues Only</key>
	<string>TLS Inspector Issues Only</string>
	<key>Target</key>
	<string>Target</string>
	<key>Tell Friends About TLS Inspector</key>
	<string>Tell Friends About TLS Inspector</string>
	<key>Test New Features</key>
	<string>Test New Features</string>
	<key>The certificate for {domain} expires on {date}</key>
	<string>The certificate for {0} expires on {1}</string>
	<key>The host you provided is not valid</key>
	<string>The host you provided is not valid</string>
	<key>Trust &amp; Safety On-The-Go with TLS Inspector: {url}</key>
	<string>Trust &amp; Safety On-The-Go with TLS Inspector: {0}</string>
	<key>Trust Details</key>
	<string>Trust Details</string>
	<key>Trusted</key>
	<string>Trusted</string>
	<key>Trusted Chain</key>
	<string>Trusted Chain</string>
	<key>Unable to Inspect</key>
	<string>Unable to Inspect</string>
	<key>Unable to export certificate</key>
	<string>Unable to export certificate</string>
	<key>Understood</key>
	<string>Understood</string>
	<key>Unknown</key>
	<string>Unknown</string>
	<key>Untrusted</key>
	<string>Untrusted</string>
	<key>Untrusted Chain</key>
	<string>Untrusted Chain</string>
	<key>Use IP Version</key>
	<string>Use IP Version</string>
	<key>Use the Reminders app to customize the reminder</key>
	<string>Use the Reminders app to customize the reminder</string>
	<key>Valid For</key>
	<string>Valid For</string>
	<key>Valid From</key>
	<string>Valid From</string>
	<key>Valid To</key>
	<string>Valid To</string>
	<key>Validity Period</key>
	<string>Validity Period</string>
	<key>Value</key>
	<string>Value</string>
	<key>Verified</key>
	<string>Verified</string>
	<key>Version</key>
	<string>Version</string>
	<key>View All</key>
	<string>View All</string>
	<key>View all alternate names</key>
	<string>View all alternate names</string>
	<key>View on SSL Labs</key>
	<string>View on SSL Labs</string>
	<key>Warning</key>
	<string>Warning</string>
	<key>We were unable to export the certificate in PEM format.</key>
	<string>We were unable to export the certificate in PEM format.</string>
	<key>What does this mean?</key>
	<string>What does this mean?</string>
	<key>What kind of feedback would you like to submit?</key>
	<string>What kind of feedback would you like to submit?</string>
	<key>Will Expire In</key>
	<string>Will Expire In</string>
	<key>Yes</key>
	<string>Yes</string>
	<key>You can modify the reminder in the reminders app.</key>
	<string>You can modify the reminder in the reminders app.</string>
	<key>You must inspect at least one site with debug logging enabled before you can submit logs.</key>
	<string>You must inspect at least one site with debug logging enabled before you can submit logs.</string>
	<key>advanced_settings_nag</key>
	<string>These settings are for advanced troubleshooting. Incorrect values can prevent TLS Inspector from working correctly.</string>
	<key>certificate_status_footer</key>
	<string>Disabling OCSP querying may produce incorrect trust results. Enabling CRL checking may result in longer processing times and more data usage. OCSP querying may still occur even when disable while using the legacy crypto engine.</string>
	<key>copyright_license_footer</key>
	<string>TLS Inspector is Free and Libre software licensed under GNU GPLv3. TLS Inspector is copyright © 2016-2021 Ian Spence.</string>
	<key>crypto_engine::network_framework</key>
	<string>Apple - Modern</string>
	<key>crypto_engine::openssl</key>
	<string>OpenSSL</string>
	<key>crypto_engine::secure_transport</key>
	<string>Apple - Legacy</string>
	<key>crypto_engine_footer</key>
	<string>Changing the crypto engine may result in TLS Inspector showing different connection information than what is used by your iOS device. The modern Apple engine requires iOS 12 or later. TLS 1.3 is not available on the legacy Apple engine.</string>
	<key>date_unit_plural::day</key>
	<string>days</string>
	<key>date_unit_plural::hour</key>
	<string>hours</string>
	<key>date_unit_plural::minute</key>
	<string>minutes</string>
	<key>date_unit_plural::month</key>
	<string>months</string>
	<key>date_unit_plural::year</key>
	<string>years</string>
	<key>date_unit_singular::day</key>
	<string>day</string>
	<key>date_unit_singular::hour</key>
	<string>hour</string>
	<key>date_unit_singular::minute</key>
	<string>minute</string>
	<key>date_unit_singular::month</key>
	<string>month</string>
	<key>date_unit_singular::year</key>
	<string>year</string>
	<key>explanation::invalid_date</key>
	<string>The server certificate for this site is not trusted because one or more certificates in the chain is expired or not yet valid.</string>
	<key>explanation::issue_date_too_long</key>
	<string>The server certificate is valid for more than 825 days. Certificates with excessive validity periods are not considered secure as they may become weak as they age.</string>
	<key>explanation::leaf_keyusage</key>
	<string>The server certificate for this site is invalid and is missing the required Server Authentication key usage.</string>
	<key>explanation::local_trust</key>
	<string>The server certificate for this site is trusted because it, or the issuing certificate, has been locally installed and trusted on your device.</string>
	<key>explanation::revoked</key>
	<string>The server certificate for this site is not trusted by the system because is has been revoked by the certificate authority.</string>
	<key>explanation::self_signed</key>
	<string>The server certificate for this site is not trusted by the system because the root certificate authority is unknown or not present.</string>
	<key>explanation::sha1_int</key>
	<string>The intermediate certificate for this site is signed using SHA-1, which is no longer considered secure.</string>
	<key>explanation::sha1_leaf</key>
	<string>The server certificate for this site is signed using SHA-1, which is no longer considered secure.</string>
	<key>explanation::trust</key>
	<string>The server certificate for this site is trusted by the system because the root certificate authority is trusted.</string>
	<key>explanation::untrusted</key>
	<string>The server certificate for this site is not trusted by the system because the server certificate is incorrect.</string>
	<key>explanation::weak_rsa</key>
	<string>The server or issuing certificate is signed using a weak RSA key (contains less than 2048 bits of data).</string>
	<key>explanation::wrong_host</key>
	<string>The server certificate is for a different host than the one connected to.</string>
	<key>fake_feedback_recieved_message</key>
	<string>Thank you for providing feedback about TLS Inspector. While we take time to read all feedback, we may not reply to all messages we get.</string>
	<key>feedback_warn_message</key>
	<string>TLS Inspector does not provide you or your iOS device with active protection against viruses or malware.

If you&apos;re concerned about the security of your device; contact Apple Support.</string>
	<key>first_run_notice</key>
	<string>TLS Inspector is designed to help you make informed and safe choices while browsing the web. It does not provide you or your iOS device with active protection against viruses or malware.

If you&apos;re concerned about the security of your device; contact Apple Support.</string>
	<key>idn_warning</key>
	<string>At this time TLS Inspector does not support international domain names (IDN). We apologize for this inconvenience.</string>
	<key>keyUsage::OCSPSigning</key>
	<string>OCSP Signing</string>
	<key>keyUsage::anyExtendedKeyUsage</key>
	<string>Any</string>
	<key>keyUsage::cRLSign</key>
	<string>CRL Sign</string>
	<key>keyUsage::clientAuth</key>
	<string>Client Auth</string>
	<key>keyUsage::codeSigning</key>
	<string>Code Signing</string>
	<key>keyUsage::dataEncipherment</key>
	<string>Data Encipherment</string>
	<key>keyUsage::decipherOnly</key>
	<string>Decipher Only</string>
	<key>keyUsage::digitalSignature</key>
	<string>Digital Signature</string>
	<key>keyUsage::emailProtection</key>
	<string>Email Protection</string>
	<key>keyUsage::encipherOnly</key>
	<string>Encipher Only</string>
	<key>keyUsage::keyAgreement</key>
	<string>Key Agreement</string>
	<key>keyUsage::keyCertSign</key>
	<string>Key Cert Sign</string>
	<key>keyUsage::keyEncipherment</key>
	<string>Key Encipherment</string>
	<key>keyUsage::nonRepudiation</key>
	<string>Non-Repudiation</string>
	<key>keyUsage::serverAuth</key>
	<string>Server Auth</string>
	<key>keyUsage::timeStamping</key>
	<string>Time Stamping</string>
	<key>proxy_warning</key>
	<string>An HTTP Proxy is configured. TLS Inspector is not compatible with HTTP Proxies and it must be disabled from the systems WiFi settings.</string>
	<key>sanType::DNS</key>
	<string>DNS</string>
	<key>sanType::Directory</key>
	<string>Directory</string>
	<key>sanType::Email</key>
	<string>Email</string>
	<key>sanType::IP</key>
	<string>IP Address</string>
	<key>sanType::Other</key>
	<string>Other</string>
	<key>sanType::URI</key>
	<string>URI</string>
	<key>sanType::Unknown</key>
	<string>Unknown</string>
	<key>secure::invalid_date</key>
	<string>Most likely. An expired or not-yet-valid certificate isn&apos;t necessarily invalid, but often a mistake by the site administrator, or your phone&apos;s time settings being incorrect.</string>
	<key>secure::issue_date_too_long</key>
	<string>Most likely. Apple changed requirements for certificates in iOS 13 to enforce shorter validity periods.</string>
	<key>secure::leaf_keyusage</key>
	<string>Most likely. A certificate that is missing the key usage parameter is likely still valid otherwise.</string>
	<key>secure::local_trust</key>
	<string>Potentially. Your device has been told to trust this certificate, even if it wouldn&apos;t otherwise.

Typically private or internal websites, such as those used in an enterprise, use these types of certificates. If you&apos;re seeing this on a public website such as a bank or social network do not continue to that site and seek assistance from Apple.</string>
	<key>secure::revoked</key>
	<string>No. One or more certificates for this site have been revoked, meaning the certificates are no longer trustworthy.

Exercise caution if continuing to this website.</string>
	<key>secure::self_signed</key>
	<string>No. The certificate for this site was not issued by any known certificate authority and therefor your device has no way of checking if the certificate is actually for the website and not an attacker.

Exercise extreme caution if continuing to this website.</string>
	<key>secure::sha1_int</key>
	<string>No. While currently unlikely, it may be possible for an attacker to craft a fake certificate that takes advantage of the weakness of SHA-1.

Exercise caution if continuing to this website.</string>
	<key>secure::sha1_leaf</key>
	<string>No. While currently unlikely, it may be possible for an attacker to craft a fake certificate that takes advantage of the weakness of SHA-1.

Exercise caution if continuing to this website.</string>
	<key>secure::trust</key>
	<string>Yes. Your device has determined that the connection to this site is secure.</string>
	<key>secure::untrusted</key>
	<string>No. Your device was unable to check if the certificate presented by the website actually belongs to the website, and not somebody else.

Exercise extreme caution if continuing to this website.</string>
	<key>secure::weak_rsa</key>
	<string>No. One or more certificates for this host are using weak cryptography and are not considered secure.</string>
	<key>secure::wrong_host</key>
	<string>No. Because the certificate presented by the server was for another site there is no way to be sure that this certificate is not dangerous.

It&apos;s likely that the request to this site was redirected to another site, such as a Wi-Fi sign on page.

Exercise caution if continuing to this website.</string>
	<key>server_error_footer</key>
	<string>HTTP Headers could not be fetched from this server due to the following error: {0}</string>
	<key>tls_feature_status_request</key>
	<string>Status Request</string>
	<key>tls_feature_status_request_v2</key>
	<string>Status Request (2.0)</string>
	<key>tlstip1</key>
	<string>You can view the certificate of a website in Safari or other web browser by tapping the &quot;Share&quot; button and selecting &quot;Show Certificate&quot;.</string>
	<key>tlstip2</key>
	<string>You can view more information about the server on Shodan by tapping the &quot;Share&quot; button when viewing a certificate.</string>
	<key>tlstip3</key>
	<string>You can create a reminder when a certificate is about to expire by tapping the &quot;Share&quot; button when inspecting a certificate.</string>
	<key>tlstip5</key>
	<string>You can export the share the certificate data by tapping the &quot;Share&quot; button when inspecting a certificate.</string>
	<key>tlstip6</key>
	<string>You can verify a certificate&apos;s serial number or fingerprint by tapping the &quot;Share&quot; button when inspecting the value.</string>
	<key>tlstip7</key>
	<string>You can copy a parameters value by long-pressing on it and tapping &quot;Copy&quot;.</string>
	<key>verbose_logging_footer</key>
	<string>If you&apos;re having a problem with TLS Inspector we may ask you to enable debug logging and submit the logs to us so we can better identify the issue. No personal information is collected, however when enabled the domains you inspect are included. We never collect these logs unless you send them to us using the above button.</string>
	<key>{alg}, {len} bits</key>
	<string>{0}, {1} bits</string>
	<key>{amount} {date_unit}</key>
	<string>{0} {1}</string>
	<key>{commonName} (Expired)</key>
	<string>{0} (Expired)</string>
	<key>{commonName} (Insecure)</key>
	<string>{0} (Insecure)</string>
	<key>{commonName} (Not Yet Valid)</key>
	<string>{0} (Not Yet Valid)</string>
	<key>{commonName} (Revoked)</key>
	<string>{0} (Revoked)</string>
	<key>{commonName} ({orgName} {countryName})</key>
	<string>{0} ({1} {2})</string>
	<key>{count} months</key>
	<string>{0} months</string>
	<key>{count} weeks</key>
	<string>{0} weeks</string>
	<key>{summary} (Revoked)</key>
	<string>{0} (Revoked)</string>
</dict>
</plist>
