<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Never send a boy to do a woman&apos;s job.</string>
	<string>Never fear, I is here.</string>
	<string>There is no right or wrong, just fun and boring.</string>
	<string>Kid, don&apos;t threaten me. There are worse things than death, and uh, I can do all of them.</string>
	<string>Boot Up or Shut Up!</string>
	<string>We have just gotten a wake-up call from the Nintendo Generation.</string>
	<string>His parents missed Woodstock, and he&apos;s been making up for it since.</string>
	<string>This is the end, my friend. Thank you for calling.</string>
</array>
</plist>
