<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>About</key>
	<string>About</string>
	<key>Absolute</key>
	<string>Absolute</string>
	<key>Add Preset Server</key>
	<string>Add Preset Server</string>
	<key>Administrative address</key>
	<string>Administrative address</string>
	<key>Algorithm</key>
	<string>Algorithm</string>
	<key>Answers</key>
	<string>Answers</string>
	<key>App language</key>
	<string>App language</string>
	<key>Appearance &amp; Behaviour</key>
	<string>Appearance &amp; Behaviour</string>
	<key>Automatically</key>
	<string>Automatically</string>
	<key>Chain</key>
	<string>Chain</string>
	<key>Connection Timeout</key>
	<string>Connection Timeout</string>
	<key>Contribute to DNS Inspector</key>
	<string>Contribute to DNS Inspector</string>
	<key>DNS Inspector</key>
	<string>DNS Inspector</string>
	<key>DNSSEC Enabled</key>
	<string>DNSSEC Enabled</string>
	<key>DNSSEC not enabled on this zone, no RRSIG returned.</key>
	<string>DNSSEC not enabled on this zone, no RRSIG returned.</string>
	<key>Digest</key>
	<string>Digest</string>
	<key>Dismiss</key>
	<string>Dismiss</string>
	<key>Domain Information</key>
	<string>Domain Information</string>
	<key>Error</key>
	<string>Error</string>
	<key>Expire</key>
	<string>Expire</string>
	<key>Follow @dnsinspector on Mastodon</key>
	<string>Follow @dnsinspector on Mastodon</string>
	<key>General</key>
	<string>General</string>
	<key>Get Involved</key>
	<string>Get Involved</string>
	<key>IPv4 Hints</key>
	<string>IPv4 Hints</string>
	<key>IPv6 Hints</key>
	<string>IPv6 Hints</string>
	<key>Key Usage</key>
	<string>Key Usage</string>
	<key>Key signing key</key>
	<string>Key signing key</string>
	<key>Key tag</key>
	<string>Key tag</string>
	<key>Loading...</key>
	<string>Loading...</string>
	<key>Main name server</key>
	<string>Main name server</string>
	<key>Manually</key>
	<string>Manually</string>
	<key>Minimum</key>
	<string>Minimum</string>
	<key>More from the developer</key>
	<string>More from the developer</string>
	<key>Name</key>
	<string>Name</string>
	<key>Network</key>
	<string>Network</string>
	<key>New Preset Server</key>
	<string>New Preset Server</string>
	<key>New query</key>
	<string>New query</string>
	<key>No default ALPN</key>
	<string>No default ALPN</string>
	<key>Options</key>
	<string>Options</string>
	<key>Perform Validation</key>
	<string>Perform Validation</string>
	<key>Port</key>
	<string>Port</string>
	<key>Preset Servers</key>
	<string>Preset Servers</string>
	<key>Preset servers</key>
	<string>Preset servers</string>
	<key>Priority</key>
	<string>Priority</string>
	<key>Provide feedback</key>
	<string>Provide feedback</string>
	<key>Public key</key>
	<string>Public key</string>
	<key>Query</key>
	<string>Query</string>
	<key>Question</key>
	<string>Question</string>
	<key>Rate in App Store</key>
	<string>Rate in App Store</string>
	<key>Recent queries</key>
	<string>Recent queries</string>
	<key>Refresh</key>
	<string>Refresh</string>
	<key>Relative</key>
	<string>Relative</string>
	<key>Remember last server</key>
	<string>Remember last server</string>
	<key>Remember recent queries</key>
	<string>Remember recent queries</string>
	<key>Response</key>
	<string>Response</string>
	<key>Results</key>
	<string>Results</string>
	<key>Retry</key>
	<string>Retry</string>
	<key>Save</key>
	<string>Save</string>
	<key>Seconds</key>
	<string>Seconds</string>
	<key>Send traditional DNS requests using TCP</key>
	<string>Send traditional DNS requests using TCP</string>
	<key>Serial</key>
	<string>Serial</string>
	<key>Server</key>
	<string>Server</string>
	<key>Server Address</key>
	<string>Server Address</string>
	<key>Server IP</key>
	<string>Server IP</string>
	<key>Server Type</key>
	<string>Server Type</string>
	<key>Server URL</key>
	<string>Server URL</string>
	<key>Share &amp; Feedback</key>
	<string>Share &amp; Feedback</string>
	<key>Share DNS Inspector</key>
	<string>Share DNS Inspector</string>
	<key>Show DNS record descriptions</key>
	<string>Show DNS record descriptions</string>
	<key>Show TTL values as</key>
	<string>Show TTL values as</string>
	<key>Signature</key>
	<string>Signature</string>
	<key>Signature Validation Failed</key>
	<string>Signature Validation Failed</string>
	<key>Supported Versions</key>
	<string>Supported Versions</string>
	<key>TLS Inspector</key>
	<string>TLS Inspector</string>
	<key>Target</key>
	<string>Target</string>
	<key>Trust Establishment Failed</key>
	<string>Trust Establishment Failed</string>
	<key>Trusted</key>
	<string>Trusted</string>
	<key>Untrusted</key>
	<string>Untrusted</string>
	<key>Unverified</key>
	<string>Unverified</string>
	<key>Verbose logging</key>
	<string>Verbose logging</string>
	<key>Verified</key>
	<string>Verified</string>
	<key>Version {version} (build {build})</key>
	<string>Version {0} (build {1})</string>
	<key>View DNSSEC Information</key>
	<string>View DNSSEC Information</string>
	<key>Your changes will take affect only quitting and restarting DNS Inspector</key>
	<string>Your changes will take affect only quitting and restarting DNS Inspector</string>
	<key>Zone signing key</key>
	<string>Zone signing key</string>
	<key>about_footer</key>
	<string>DNS Inspector is free &amp; libre open source software licensed under the GNU GPLv3. DNS Inspector is copyright © 2023-{0} Ian Spence.</string>
	<key>dnssec_footer</key>
	<string>When DNSSEC is enabled all DNS queries include a request for record signatures. DNSSEC verification will perform additional queries to establish trust and may take multiple seconds to complete.</string>
	<key>localization_credits</key>
	<string>Spanish translation by Kevin López Brante. Interested in translating DNS Inspector to another language? Send us a message through the feedback link!</string>
	<key>record_description_a</key>
	<string>DNS A records contain an IPv4 address.</string>
	<key>record_description_aaaa</key>
	<string>DNS AAAA records contain an IPv6 address.</string>
	<key>record_description_apl</key>
	<string>DNS APL records contain an IP address prefix list.</string>
	<key>record_description_cname</key>
	<string>DNS CNAME records contain destination DNS name to follow.</string>
	<key>record_description_dnskey</key>
	<string>DNS DNSKEY records contain cryptographic public keys used for authentication.</string>
	<key>record_description_ds</key>
	<string>DNS DS records contain records of trusted delegation from the parent zone.</string>
	<key>record_description_https</key>
	<string>DNS HTTPS records contain information about HTTPS web servers.</string>
	<key>record_description_mx</key>
	<string>DNS MX records contain mail exchange server addresses.</string>
	<key>record_description_ns</key>
	<string>DNS NS records contain the authoritative DNS server for this zone.</string>
	<key>record_description_ptr</key>
	<string>DNS PTR records are used to resolve a domain name from an IP address.</string>
	<key>record_description_soa</key>
	<string>DNS SOA records contain administrative or ownership information about the domain.</string>
	<key>record_description_srv</key>
	<string>DNS SRV records contain information for locating a specific service.</string>
	<key>record_description_txt</key>
	<string>DNS TXT records contain any text data.</string>
	<key>{duration} microseconds</key>
	<string>{0} microseconds</string>
	<key>{duration} milliseconds</key>
	<string>{0} milliseconds</string>
	<key>{duration} nanoseconds</key>
	<string>{0} nanoseconds</string>
	<key>{duration} seconds</key>
	<string>{0} seconds</string>
	<key>{record type} Record</key>
	<string>{0} Record</string>
</dict>
</plist>
