<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>About</key>
	<string>Acerca de</string>
	<key>Absolute</key>
	<string>Absoluto</string>
	<key>Add Preset Server</key>
	<string>Añadir servidor predefinido</string>
	<key>Administrative address</key>
	<string>Administrative address</string>
	<key>Algorithm</key>
	<string>Algorithm</string>
	<key>Answers</key>
	<string>Respuestas</string>
	<key>App language</key>
	<string>App language</string>
	<key>Appearance &amp; Behaviour</key>
	<string>Appearance &amp; Behaviour</string>
	<key>Automatically</key>
	<string>Automatically</string>
	<key>Chain</key>
	<string>Chain</string>
	<key>Connection Timeout</key>
	<string>Connection Timeout</string>
	<key>Contribute to DNS Inspector</key>
	<string>Contribuir to DNS Inspector</string>
	<key>DNS Inspector</key>
	<string>DNS Inspector</string>
	<key>DNSSEC Enabled</key>
	<string>DNSSEC Enabled</string>
	<key>DNSSEC not enabled on this zone, no RRSIG returned.</key>
	<string>DNSSEC not enabled on this zone, no RRSIG returned.</string>
	<key>Digest</key>
	<string>Digest</string>
	<key>Dismiss</key>
	<string>Dismiss</string>
	<key>Domain Information</key>
	<string>Domain Information</string>
	<key>Error</key>
	<string>Error</string>
	<key>Expire</key>
	<string>Expire</string>
	<key>Follow @dnsinspector on Mastodon</key>
	<string>Sigue a @dnsinspector en Mastodon</string>
	<key>General</key>
	<string>General</string>
	<key>Get Involved</key>
	<string>Involucrarse</string>
	<key>IPv4 Hints</key>
	<string>IPv4 Hints</string>
	<key>IPv6 Hints</key>
	<string>IPv6 Hints</string>
	<key>Key Usage</key>
	<string>Key Usage</string>
	<key>Key signing key</key>
	<string>Key signing key</string>
	<key>Key tag</key>
	<string>Key tag</string>
	<key>Loading...</key>
	<string>Cargando...</string>
	<key>Main name server</key>
	<string>Main name server</string>
	<key>Manually</key>
	<string>Manually</string>
	<key>Minimum</key>
	<string>Minimum</string>
	<key>More from the developer</key>
	<string>Más apps del desarrollador</string>
	<key>Name</key>
	<string>Nombre</string>
	<key>Network</key>
	<string>Red</string>
	<key>New Preset Server</key>
	<string>Nuevo servidor predefinido</string>
	<key>New query</key>
	<string>Nueva petición</string>
	<key>No default ALPN</key>
	<string>No default ALPN</string>
	<key>Options</key>
	<string>Opciones</string>
	<key>Perform Validation</key>
	<string>Perform Validation</string>
	<key>Port</key>
	<string>Port</string>
	<key>Preset Servers</key>
	<string>Servidores predefinidos</string>
	<key>Preset servers</key>
	<string>Servidores predefinidos</string>
	<key>Priority</key>
	<string>Priority</string>
	<key>Provide feedback</key>
	<string>Provide feedback</string>
	<key>Public key</key>
	<string>Public key</string>
	<key>Query</key>
	<string>Petición</string>
	<key>Question</key>
	<string>Pregunta</string>
	<key>Rate in App Store</key>
	<string>Calificar en la App Store</string>
	<key>Recent queries</key>
	<string>Peticiones recientes</string>
	<key>Refresh</key>
	<string>Refresh</string>
	<key>Relative</key>
	<string>Relativo</string>
	<key>Remember last server</key>
	<string>Recordar último servidor</string>
	<key>Remember recent queries</key>
	<string>Recordar peticiones recientes</string>
	<key>Response</key>
	<string>Respuesta</string>
	<key>Results</key>
	<string>Resultados</string>
	<key>Retry</key>
	<string>Retry</string>
	<key>Save</key>
	<string>Guardar</string>
	<key>Seconds</key>
	<string>Seconds</string>
	<key>Send traditional DNS requests using TCP</key>
	<string>Enviar peticiones DNS tradicionales con TCP</string>
	<key>Serial</key>
	<string>Serial</string>
	<key>Server</key>
	<string>Servidor</string>
	<key>Server Address</key>
	<string>Dirección del servidor</string>
	<key>Server IP</key>
	<string>IP del servidor</string>
	<key>Server Type</key>
	<string>Tipo de servidor</string>
	<key>Server URL</key>
	<string>URL del servidor</string>
	<key>Share &amp; Feedback</key>
	<string>Compartir y comentarios</string>
	<key>Share DNS Inspector</key>
	<string>Compartir DNS Inspector</string>
	<key>Show DNS record descriptions</key>
	<string>Show DNS record descriptions</string>
	<key>Show TTL values as</key>
	<string>Mostrar valores TTL (tiempo de vidxa) como</string>
	<key>Signature</key>
	<string>Signature</string>
	<key>Signature Validation Failed</key>
	<string>Signature Validation Failed</string>
	<key>Supported Versions</key>
	<string>Supported Versions</string>
	<key>TLS Inspector</key>
	<string>TLS Inspector</string>
	<key>Target</key>
	<string>Target</string>
	<key>Trust Establishment Failed</key>
	<string>Trust Establishment Failed</string>
	<key>Trusted</key>
	<string>Trusted</string>
	<key>Untrusted</key>
	<string>Untrusted</string>
	<key>Unverified</key>
	<string>Unverified</string>
	<key>Verbose logging</key>
	<string>Verbose logging</string>
	<key>Verified</key>
	<string>Verified</string>
	<key>Version {version} (build {build})</key>
	<string>Versión {0} (compilación {1})</string>
	<key>View DNSSEC Information</key>
	<string>View DNSSEC Information</string>
	<key>Your changes will take affect only quitting and restarting DNS Inspector</key>
	<string>Your changes will take affect only quitting and restarting DNS Inspector</string>
	<key>Zone signing key</key>
	<string>Zone signing key</string>
	<key>about_footer</key>
	<string>DNS Inspector es software libre y gratuito bajo licencia GNU GPLv3. Derechos de autor de DNS Inspector © 2023-{0} Ian Spence.</string>
	<key>dnssec_footer</key>
	<string>When DNSSEC is enabled all DNS queries include a request for record signatures. DNSSEC verification will perform additional queries to establish trust and may take multiple seconds to complete.</string>
	<key>localization_credits</key>
	<string>Spanish translation by Kevin López Brante. Interested in translating DNS Inspector to another language? Send us a message through the feedback link!</string>
	<key>record_description_a</key>
	<string>Los registros DNS A contienen una dirección IPv4.</string>
	<key>record_description_aaaa</key>
	<string>Los registros DNS AAAA contienen una dirección IPv6.</string>
	<key>record_description_apl</key>
	<string>Los registros DNS APL contienen una lista de prefijos IP.</string>
	<key>record_description_cname</key>
	<string>Los registros DNS CNAME contienen un nombre DNS al que seguir.</string>
	<key>record_description_dnskey</key>
	<string>DNS DNSKEY records contain cryptographic public keys used for authentication.</string>
	<key>record_description_ds</key>
	<string>DNS DS records contain records of trusted delegation from the parent zone.</string>
	<key>record_description_https</key>
	<string>DNS HTTPS records contain information about HTTPS web servers.</string>
	<key>record_description_mx</key>
	<string>Los registros DNS MX contienen direcciones de servidores de intercambio de correos electrónicos.</string>
	<key>record_description_ns</key>
	<string>DNS NS records contain the authoritative DNS server for this zone.</string>
	<key>record_description_ptr</key>
	<string>Los registros DNS PTR se usan para resolver un dominio DNS a partir de una dirección IP.</string>
	<key>record_description_soa</key>
	<string>DNS SOA records contain administrative or ownership information about the domain.</string>
	<key>record_description_srv</key>
	<string>Los registros DNS SRV contienen información para localizar un servicio específico.</string>
	<key>record_description_txt</key>
	<string>Los registros DNS TXT pueden contener texto arbitrario.</string>
	<key>{duration} microseconds</key>
	<string>{0} microsegundos</string>
	<key>{duration} milliseconds</key>
	<string>{0} milisegundos</string>
	<key>{duration} nanoseconds</key>
	<string>{0} nanosegundos</string>
	<key>{duration} seconds</key>
	<string>{0} segundos</string>
	<key>{record type} Record</key>
	<string>Registro {0}</string>
</dict>
</plist>
