<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YXV0aG9yaXplZA==</key>
	<string>warn</string>
	<key>YmxvY2s=</key>
	<string>warn</string>
	<key>aGFjaw==</key>
	<string>warn</string>
	<key>YnJlYWNo</key>
	<string>warn</string>
	<key>c3RvbGU=</key>
	<string>warn</string>
	<key>cGFzc3dvcmQ=</key>
	<string>warn</string>
	<key>ZnVjaw==</key>
	<string>prohibit</string>
	<key>c2hpdA==</key>
	<string>prohibit</string>
	<key>bmlnZ2Vy</key>
	<string>prohibit</string>
	<key>Y3VudA==</key>
	<string>prohibit</string>
</dict>
</plist>
