name: "Validate and Compile"

on: [push, pull_request]

permissions:
  packages: read

jobs:
  build:
    name: "Validate and Compile"
    runs-on: macos-latest
    steps:
      - name: Checkout Source
        id: checkout
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
      - name: Validate localization
        id: validate_localization
        run: |
          cd "TLS Inspector/Localization"
          python3 lang.py
          if [[ $(git diff --stat) != '' ]]; then
            echo "::error ::Untracked changes to localization detected!"
            git status
            exit 1
          else
            echo "No untracked changes to localization detected"
          fi
      - name: Install Profile and Certificates
        id: install_credentials
        run: |
          echo '${{ secrets.TLS_INSPECTOR_DEVELOPMENT_PROVISIONING_PROFILE }}' > TLS_Inspector.mobileprovision.base64
          echo '${{ secrets.INSPECT_CERTIFICATE_DEVELOPMENT_PROVISIONING_PROFILE }}' > Inspect_Website.mobileprovision.base64
          base64 -i TLS_Inspector.mobileprovision.base64 -o TLS_Inspector.mobileprovision --decode
          base64 -i Inspect_Website.mobileprovision.base64 -o Inspect_Website.mobileprovision --decode
          rm TLS_Inspector.mobileprovision.base64 Inspect_Website.mobileprovision.base64
          mkdir -p "~/Library/MobileDevice/Provisioning Profiles/"
          mv TLS_Inspector.mobileprovision "~/Library/MobileDevice/Provisioning Profiles/0772352f-a056-453c-a9f8-e79bae67a3ac.mobileprovision"
          mv Inspect_Website.mobileprovision "~/Library/MobileDevice/Provisioning Profiles/47a88c2a-162b-461a-a9fe-e05f088dbe81.mobileprovision"
          echo '-----BEGIN CERTIFICATE-----' > dev.crt
          echo '${{ secrets.APPLE_DEVELOPMENT_CERTIFICATE }}' >> dev.crt
          echo '-----END CERTIFICATE-----' >> dev.crt
          echo '${{ secrets.APPLE_DEVELOPMENT_PRIVATE_KEY }}' > dev.key.base64
          base64 -i dev.key.base64 -o dev.key --decode
          rm dev.key.base64
          security import dev.crt -t cert -k ~/Library/Keychains/login.keychain-db -f pemseq -A
          security import dev.key -t priv -k ~/Library/Keychains/login.keychain-db -f openssl -A
          rm dev.key dev.crt
          gpg --import CertificateKit/build/curl-ios/curl.asc
          gpg --import CertificateKit/build/openssl-ios/openssl.asc
          echo 'trusted-key 0x78E11C6B279D5C91' >> ~/.gnupg/gpg.conf
          echo 'trusted-key 0xF9FEAFF9D34A1BDB' >> ~/.gnupg/gpg.conf
          echo 'trusted-key 0x5CC908FDB71E12C2' >> ~/.gnupg/gpg.conf
          echo 'trusted-key 0xD5E9E43F7DF9EE8C' >> ~/.gnupg/gpg.conf
          echo 'trusted-key 0xD9C4D26D0E604491' >> ~/.gnupg/gpg.conf
          echo 'trusted-key 0xB8EF1A6BA9DA2D5C' >> ~/.gnupg/gpg.conf
          echo 'trusted-key 0x231C84CDDCC69C45' >> ~/.gnupg/gpg.conf
      - name: Generate Cache Key
        id: cache_key
        run: |
          echo "OPENSSL_CACHE_KEY=openssl_$(cat CertificateKit/build/openssl.want | cut -d '=' -f2)" >> $GITHUB_ENV
          echo "CURL_CACHE_KEY=curl_$(cat CertificateKit/build/curl.want | cut -d '=' -f2)" >> $GITHUB_ENV
      - name: Restore Cached OpenSSL
        id: restore_openssl
        uses: actions/cache@v3
        with:
          key: ${{ env.OPENSSL_CACHE_KEY }}
          path: |
            CertificateKit/openssl.xcframework
      - name: Build OpenSSL
        id: build_openssl
        if: ${{ steps.restore_openssl.outputs.cache-hit != 'true' }}
        run: |
          echo "::notice ::Compiling OpenSSL"
          cd CertificateKit/build
          ./build-openssl.sh
      - name: Restore Cached curl
        id: restore_curl
        uses: actions/cache@v3
        with:
          key: ${{ env.CURL_CACHE_KEY }}
          path: |
            CertificateKit/curl.xcframework
      - name: Build curl
        id: build_curl
        if: ${{ steps.restore_curl.outputs.cache-hit != 'true' }}
        run: |
          echo "::notice ::Compiling curl"
          cd CertificateKit/build
          ./build-curl.sh
      # - name: Build
      #   id: build
      #   run: |
      #     xcodebuild -scheme "TLS Inspector" -target iOS build
