name: "Localization validation"

on: [push, pull_request]

permissions:
  packages: read

jobs:
  lang_validate:
    name: "Localization validation"
    runs-on: macos-latest
    steps:
      - name: Checkout Source
        id: checkout
        uses: actions/checkout@v3
      - name: Validate localization
        id: validate
        run: |
          cd "TLS Inspector/Localization"
          python3 lang.py
          if [[ $(git diff --stat) != '' ]]; then
            echo "::error ::Untracked changes to localization detected!"
            git status
            exit 1
          else
            echo "No untracked changes to localization detected"
          fi